*.js
!jest.config.js
*.d.ts
node_modules
.idea
.vscode

# CDK asset staging directory
.cdk.staging
cdk.out

# temporary measure to exclude some files
# with high risk of secrets exposure.
test/auth.test.ts
test/AuthService.ts
